$lg-break-point: 1200px;
$break-point: 960px;
$md-break-point: 640px;
$sm-break-point: 320px;

$aside-width: 25%;
$content-wrapper-width: 72%;
$article-max-width: 850px;
$post-margin-left: 28%;

// color guide
$white: #fff;
$fog: #f9f7f9;
$ash: #f0f0f0;

$silver-light: #e7e7e7;
$silver: #ccc;
$silver-dark: #999;

$gray-light: #888;
$gray: #666;
$gray-dark: #555;

$dark: #333;
$ink: #222;
$black: #000;

$brand: #3f9fc9;
$brand-sub: #1e5e79;
