{% if page.bg %}
    <aside class="sidebar" role="note" style="background-image: url({{ site.url }}{{ site.images }}/{{ page.bg }})">
{% else %}
    <aside class="sidebar" role="note" style="background-image: url({{ site.url }}{{ site.images }}/bg.svg)">
{% endif %}

<div class="cover">
    <div class="cover-text">
        <div class="heading">
            {{ page.title }}
        </div>
        {% if page.summary %}
            <p>{{ page.summary }}</p>
        {% endif %}
        {% if page.tags %}
        <p>
            {% for tag in page.tags %}
                <a href="/posts/#{{ tag | downcase }}">{{ tag | downcase }}</a>
            {% endfor %}
        </p>
        {% else %}
    </div>
</div>

<div id="switcher"></div>
</aside>
