{% if page.bg %}
    <aside class="sidebar" role="note" style="background-image: url({{ site.url }}{{ site.images }}/{{ page.bg }})">
{% else %}
    <aside class="sidebar" role="note" style="background-image: url({{ site.url }}{{ site.images }}/bg.svg)">
{% endif %}

<div class="cover">
    <div class="cover-text">
        <div class="heading">
            {% if page.layout = 'post' %}
                Archive
            {% else %}
                {{ page.title }}
            {% endif %}
        </div>
        {% if page.summary %}
        <p>{{ page.summary }}</p>
        {% endif %}
    </div>
</div>

<div id="switcher"></div>
</aside>
