<footer class="blog-footer content-wrapper">
    <p>&copy; <span class="full-year"></span> {{ site.title }} / <a href="mailto:pigjh1@gmail.com">pigjh1@gmail.com</a></p>
</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118775146-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118775146-1');
</script>
